{% extends "layout.twig" %}
{% block content %}
<div class="row">
	<header class="home-feature span-12">
		{{widget('feature', 'featurewidget', {"header": "Lorem Ipsum", "strapline":"Maecenas libero purus, pharetra ornare", "buttonText":"Maecenas","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
	</header>
{#
	<aside class="home-aside span-4">
		{{widget('content', 'contacttitle', {content: '<h3>TRENDING</h3>'})|raw}}
		{{widget('twitter', 'twitterwidget', {'searchKey': 'basekit', 'searchType': 'username', 'count': '3','refreshTime': '1800000','includeRts': '0'})|raw}}
		{{widget('button', 'buttonwidget', {italic: false, text:'FOLLOW', action: external, url: 'http://twitter.com'})|raw}}
		{{widget('tweet', 'tweetwidget', {'linkText': 'TWEET'})|raw}}
	</aside>
#}
</div>

<section class="section main home-page">
	{{widget('content', 'maintitle', {content: '<h3>LATEST PRODUCTS</h3>'})|raw}}
	{{widget('ecomproductslist', 'ecomproductslist', {})|raw}}
	{{zone('main')|raw}}
</section>

{% endblock %}